#figuras {
    list-style: none;
  }

  
.arriba {
    visibility: visible!important;
    transform: scale(1.2);
  }

.abajo {
    visibility: visible!important;;
    transform: scale(0.8);
  }
.borde{
    border: 1px solid red;
  }

/* .card{
    display: none;
    } */

.card{
    visibility: hidden;
    background-color: darkseagreen;
    height: 40vh;
    
}

#imagenRegion{
  width: 400px;
  align-self: center;
  
}
#contenedor-grande{
  display: flex
}
